@font-face {
  font-family: "iconfont"; /* Project id 3312964 */
  src: url('iconfont.woff2?t=1657428692779') format('woff2'),
       url('iconfont.woff?t=1657428692779') format('woff'),
       url('iconfont.ttf?t=1657428692779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-fenlei:before {
  content: "\e653";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-gouwuche:before {
  content: "\e70b";
}

